.badge {
    background-color: tomato;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 10px;
    font-weight: 600;
}

.header-noti1 {
    background-color: tomato;
    border-radius: 100%;
    width: 5px;
    height: 5px;
    position: absolute;
    left: 65px;
    bottom: 20px;
}

.header-noti2 {
    background-color: tomato;
    border-radius: 100%;
    width: 5px;
    height: 5px;
    position: absolute;
    left: 105px;
    bottom: 20px;
}