

.nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    background-color: #f9f9fa;
    padding: 20px 50px;
    border-top: 1px solid rgba(0, 0, 0, 0.3)
}

.nav__list {
    display: flex;
    justify-content: space-between;
}

.nav__link {
    color: #2e363e;
    position: relative;
}

.nav__num-noti {

    position: absolute;
    left: 15px;
    bottom: 10px;
}

.nav__noti {
    background-color: tomato;
    border-radius: 100%;
    width: 5px;
    height: 5px;
    position: absolute;
    left: 25px;
    bottom: 20px;
}