
.user-component,
.user-component__column:first-child {
    display: flex;
    align-items: center;
}

.user-component {
    justify-content: space-between;
}

.user-component__profile {
    width: 70px;
    height: 70px;
    border-radius: 40%;
    margin-right: 18px;
}

.user-component__title {
    font-weight: 600;
    font-size: 20px;
}

.user-component__subtitle {
    margin-top: 8px;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.4);
}

.user-component__profile--xl {
    width: 80px;
    height: 80px;
}

.user-component__column:last-child {
    color: rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.user-component__profile--xs {
    width: 60px;
    height: 60px;
}

.user-component__title--sm {
    font-weight: 400;
}

.user-component__time {
    display: block;
    margin-bottom: 10px;
}